name: build go 1.24

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - go/1.24/**

permissions:
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./go/1.24
          file: ./go/1.24/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/golang-pterodactyl:go_1.24
